{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Hello World!</h1>

    {% if current_user.is_authenticated %}
        <p>Hi {{ current_user.email }}!
        Welcome to {{ config.APP_FULLNAME }}.
    {% endif %}

    <p>
        <i class="fa fa-hand-o-right"></i>
        <i>Application stuff goes here.</i>
        <i class="fa fa-hand-o-left"></i>
    </p>

    <h2>Links</h2>
    <ul class="">
        <li><a href="/profile">User Profile Page</a></li>
        <li><a href="/upload">Upload Files</a></li>
        <li><a href="/routes">Configured Routes</a></li>
        <li><a href="/admin/">Admin</a></li>
    </ul>

{% endblock %}
