{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1><i class="fa fa-home text-muted"></i> Hello World!</h1>

    {% if current_user.is_authenticated %}
        <p>Hi {{ current_user.email }}!
        Welcome to {{ config.APP_FULLNAME }}.
    {% endif %}

    <p>
        <i class="fa fa-hand-o-right"></i>&nbsp;
        <i>Application stuff goes here.</i>&nbsp;
        <i class="fa fa-hand-o-left"></i>
    </p>

    {% include 'links.html' %}

{% endblock %}
