
    <p>&nbsp;</p>

    <h2>Links</h2>

    <ul class="list-unstyled pl-3">
        <li><i class="fa fa-home pr-1"></i> <a href="/">Home</a></li>
        <li><i class="fa fa-user-circle pr-1"></i> <a href="/profile">User Profile Page</a></li>
        <li><i class="fa fa-cloud-upload pr-1"></i> <a href="/upload">Upload Files</a></li>
        <li><i class="fa fa-question-circle pr-1"></i> <a href="/status/200">HTTP Status Test</a></li>
        <li><i class="fa fa-list pr-1"></i> <a href="/routes">Configured Routes</a></li>
        <li><i class="fa fa-gear pr-1"></i> <a href="/admin/">Admin</a></li>
    </ul>
