{% extends "base.html" %}

{% block title %}{{ code }} {{ title }}{% endblock %}

{% block body %}
    <h1>
        <i class="fa{%- if category == 'informational' %}
                        fa-info-circle text-info
                    {% elif category == 'success' %}
                        fa-check-circle text-success
                    {% elif category == 'redirection' %}
                        fa-external-link-square text-warning bg-inverse rounded
                    {% elif category == 'client error' %}
                        fa-times-circle text-danger
                    {% elif category == 'server error' %}
                        fa-times-circle text-danger
                    {% elif category == 'invalid' %}
                        fa-question-circle text-muted
                    {% endif %}"></i>
        {{ title }}
    </h1>

    <p>The server returned the following information:</p>

    <p>
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <th>HTTP Status:</th>
                    <td><tt>{{ code }} {{ title }}</tt></td>
                </tr>
                <tr>
                    <th>Category:</th>
                    <td>{{ category.title() }}</td>
                </tr>
                <tr>
                    <th>Details:</th>
                    <td>{{ desc }}</td>
                </tr>
            </tbody>
        </table>
    </p>

    {% include 'links.html' %}
{% endblock %}
