{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% set hicolor = '#0275d8' %}

{% block xtrahead %}
<style type="text/css">

    div#upbar {
        margin-bottom: 1em;
        margin-top: 1.5em;
    }
    #droptarget {
        border: .16rem dashed rgba(34, 34, 34, .1);
        height: 11rem;
        text-align: center;
    }
    #droptarget i.fa {
        font-size: 10rem;
        opacity: .1;
    }
    #droptarget.hover {  /* :hover w/out drag gives wrong impression. */
        border-color: rgba(34, 34, 34, .3);
        box-shadow: .06em .06em .2em rgba(0, 0, 0, .2);
    }
    #droptarget.hover i.fa {
        opacity: .2;
    }
    progress {
        background-color: inherit;
        width: 100%;

        /* reset the default appearance */
        -webkit-appearance: none;
        -moz-appearance: none;
             appearance: none;
    }
    progress#main {
        border: .16rem dashed rgba(34, 34, 34, .1);
        border-top: none;
        height: 1.2em;
    }
    progress.file {
        height: 1ex;
        width: 2em;
        border: 1px solid {{ hicolor }};
        margin-right: .6em;
    }
    progress.file2 {  /* may need to be removed */
        height: .3em;
        width: 94%;
        border: 1px solid {{ hicolor }};
    }

    /* chrome/webkit stuff */
    progress::-webkit-progress-bar {
        background-color: inherit;
    }
    progress::-webkit-progress-value {
        background-color: {{ hicolor }};
    }

    #uplist {
        border: .16rem dashed rgba(34, 34, 34, .1);
        border-left: 0;
        height: 12.2rem;
        overflow-y: auto;
        padding: .5em;
        padding-left: 1em;
    }
    #uplist i.fa-check {
        color: green;
    }


</style>
{% endblock %}


{% block body %}
    <h1><i class="fa fa-cloud-upload"></i> {{ title }}</h1>
    <p>
        Media and data files (max: {{ config.MAX_CONTENT_LENGTH_MB }}MB) may be
        uploaded by dropping them over the target below:
    </p>

    <form id=upload_form method=POST enctype="multipart/form-data">

        <div id=upbar class="row no-gutters">
            <div class="col-lg-8">
                <strong>Drop Box</strong>
                <div id=droptarget>
                    <i class="fa fa-inbox"></i>
                </div>
                <progress id=main class="" value=0 max=100></progress>
            </div>
            <div class="col-lg-4">
                <strong>Files</strong>
                <ul id=uplist class="list-unstyled"></ul>
            </div>
        </div>

        <h2>Old-School Upload Form</h2>
        <p>The form below also has a limit of
            {{ config.MAX_CONTENT_LENGTH_MB }}MB,
            and does not require javascript.</p>
        <p>
            {# old-school look, more functionality #}
            <input id=files class="form-control" type=file name="files[]" multiple>
            {# <!--
                looks nicer but doesn't show selected files, except by tooltip.
                https://v4-alpha.getbootstrap.com/components/forms/#file-browser
                <label class="custom-file">
                  <input id=files class="custom-file-input" type=file name="files[]"
                         multiple>
                  <span class="custom-file-control"></span>
                </label>
            --> #}
        </p><p>
            <button class="btn btn-primary btn-lg pull-right" type=submit>
                <i class="fa fa-cloud-upload"></i> Upload
            </button>
        </p>
    </form>
{% endblock %}


{% block postscript %}
<script>
'use strict';
const unsavory_exts = Object.freeze( new Set(
    {{ config.UPLOAD_UNSAVORY_EXTS | safe }}
));
const MAX_CONTENT_LENGTH = {{ config.MAX_CONTENT_LENGTH }};
const DEBUG = {{ debug }};

function scroll_down() {
    const uplist = $('#uplist');
    uplist.scrollTop(uplist.prop('scrollHeight'));
}
scroll_down();

</script>

<script src="/static/upload.js"></script>
{% endblock %}


<!--
                <select id="multi" multiple>
                  <option>○ Banana</option>
                  <option>◔ Cherry</option>
                  <option>◑ Lemon</option>
                  <option>◕ Orange</option>
                  <option>● Lemon</option>
                  <option><progress value=25 max=100></progress> Lemon</option>
                </select>
                    <li>○ Banana</li>
                    <li>◔ Cherry</li>
                    <li>◑ Lemon</li>
                    <li>◕ Orange</li>
                    <li>● Mango</li>

                    <li>○ Banana</li>
                    <li>◔ Cherry</li>
                    <li>◑ Lemon</li>
                    <li>◑ Lemon</li>
                    <li>◕ Orange</li>
                    <li>● Mango</li>
                    <li>
                        <i class="fa fa-file"></i> Maracuja Maracuja.jpeg
                        <progress id=f10 class=file2 value=75 max=100></progress>
                    </li>
                    <li>
                        <i class="fa fa-file"></i> Maracuja
                        <progress id=f10 class=file2 value=75 max=100></progress>
                    </li>

                    <li>▏▏Mango</li>
                    <li>▎▏Mango</li>
                    <li>▍▏Mango</li>
                    <li><span style="color: {{ hicolor }}; background: #eee">▌</span> Mango</li>
                    <li>▋▏Mango</li>
                    <li>▊▏Mango</li>
                    <li>▉▏Mango</li>
                    <li>█▏Mango</li>
                    <li>☑▏Mango</li>
                    <li><span style="color: {{ hicolor }};">█▏</span> Mango</li>
                    <li><span style="color: {{ hicolor }};">85%</span> Mango</li>

                    <li><progress id=f10 class=file value=25 max=100></progress>
                        <i class="fa fa-file-o"></i> Maracuja
                    </li>
                    <li><progress id=f10 class=file value=50 max=100></progress>
                        <i class="fa fa-file-o"></i> Maracuja
                    </li>
-->
