{% extends 'admin/master.html' %}

{% block body %}
    <h2>
        <i class="fa fa-unlock-alt glyphicon glyphicon-home"></i>
        Admin Panel
        <i class="fa fa-unlock-alt glyphicon glyphicon-list-alt"></i>
    </h2>

    <style type="text/css">
        div.links{
            border: 1px solid #888;
            border-radius: .3em;
            display: inline-block;
            padding: 2em;
        }
    </style>

    <hr/>

    <div class=links>
        <b>Models:</b>

        <ul class="">
          {% for model in model_list %}
            <li><a href="{{ model[0] }}">{{ model[1] }}</a></li>
          {% endfor %}
        </ul>
    </div>
{% endblock %}

