{% extends 'admin/master.html' %}

{% block body %}
    <h2>
        <i class="fa fa-unlock-alt glyphicon glyphicon-home"></i>
        Admin Dashboard
    </h2>
    <hr class="mb-5"/>

    <div class="row">
        <div class="col-md-3">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Models</h3>
                </div>
                <div class="panel-body">
                    <ul class="models list-unstyled">
                      {% for view in views %}
                        <li>
                          {% if hasattr(view, '_icon') %}
                            <i class="fa fa-{{ view._icon.fa }} glyphicon glyphicon-{{ view._icon.gi }} pr-2"></i>
                          {% elif view.name == 'Home' %}
                            <i class="fa fa-home glyphicon glyphicon-home pr-2"></i>
                           {% endif %}
                            <a href="{{ view.url }}">{{ view.name }}</a>
                        </li>
                      {% if view.name == 'Users' %} {# break list and work around css limits #}
                        </ul>
                        <hr/>
                        <ul class="models list-unstyled">
                      {% endif %}

                      {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-5"><!-- placehoder --></div>
        <div class="col-md-4"><!-- placehoder --></div>
    </div>

{% endblock %}
