{% extends "base.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

{% block body %}
<div class="sec-card container py-5">
    <div class="card mx-auto p-2">
        <div class="card-block">
            <h4 class="card-title">Right This Way…</h4>

            <form class="security" action="{{ url_for_security('login') }}"
                method="post" name="login_user_form">
                {{ login_user_form.hidden_tag() }}
                {{ render_field(login_user_form.next) }}

                {{ render_field_with_errors(login_user_form.email) }}
                {{ render_field_with_errors(login_user_form.password) }}
                {# render_field_with_errors(login_user_form.remember) #}

                {{ render_field(login_user_form.submit,
                                class_='btn btn-primary') }}
            </form>
            {% include "security/_menu.html" %}
        </div>
    </div>
</div>
{% endblock %}
