{% extends "base.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

{% block body %}
<div class="sec-card container py-5">
    <div class="card mx-auto p-2">
        <div class="card-block">
            <h4 class="card-title">Resend Confirmation</h4>

            <p>Instructions will be sent to the registered address entered
            below.</p>

            <form class="security" action="{{ url_for_security('send_confirmation') }}"
                method="post" name="send_confirmation_form">
                {{ send_confirmation_form.hidden_tag() }}
                {{ render_field_with_errors(send_confirmation_form.email) }}
                {{ render_field(send_confirmation_form.submit,
                                class_='btn btn-primary') }}
            </form>
            {% include "security/_menu.html" %}
        </div>
    </div>
</div>
{% endblock %}
