
body {
    font-size: 2rem;  /* too small! */
}

nav { border-radius: 0 !important; }
nav form#logout {
    margin-top: .5em;
    margin-left: 1em;
}


/* Tone down white backgrounds */
html, body { background: #c2c0c0; color: #222 }

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #d2d0d0;
}

ul.nav-tabs li.active a {
    background-color: #d2d0d0;

}

.form-control {
    background-color: #d2d0d0;
    color: #222;
}

form.admin-form input[type='checkbox'] { /* left-align, prevent centering */
    width: 2em;
    height: 2em;
    transform: scale(2, 2);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled]
.form-control {
    background-color: #c2c0c0;
    opacity: 1;
}

.select2-container .select2-choice, .select2-container .select2-choices,
.select2-container .select2-choices .select2-search-field input {
    background: #d2d0d0;
}

/* Tone down white backgrounds, end */

/* Dashboard */
i.fa, i.glypicon {
    opacity: .8;
}
.panel {
    background-color: #e8e8e8;
    opacity: .8;
}
.panel ul li {
    display: flex;
    padding-left: .6em;
}
.panel ul li:hover {
    background-color: white;
}
.panel ul a {
    flex-grow: 1;
    text-decoration: none;
}
.panel ul .fa {
    padding-top: .1em;
}
@supports (-moz-transform: translate(0, 0)) {  /* fix: firefox issue */
    .panel ul .fa {
        padding-top: .2em;
    }
}
.panel hr {
    margin: .6em 0;
    border-top: 1px dotted #888;
    width: 96%;
}
/* adm tables */
table.adm-stats {
    width: 28%;
    table-layout: fixed;
    margin-right: 2em;
    margin-bottom: 0;
}
table.adm-stats tr td/*:first-child*/ {
    text-align: right;
    width: 50%;
}


/* TODO: duplicate bootstrap 4 classes: */
.pr-2 {
    padding-right: .4em;
}
.mb-5 {
    margin-bottom: 2em;
}
.d-flex {
    display: flex;
}
