body {
    font-family: 'Open Sans', /* bootstrap follows */-apple-system, system-ui,
        BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        sans-serif;
    color: #343030;  /* slight red-shift */
}

main {
    background-color: #d4d0d0; /* slight red-shift */
    padding: 5.5rem 0;
    min-height: 40rem;
}

footer {
    position: sticky;
}

h1, h2, h3, h4, h5, h6, .h2, .h3 {
    font-weight: bold;
    margin-bottom: .5em;
}
h5, h6 {
    font-variant: small-caps;
}
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

img.logo {
    height: 2.1rem;
    opacity: .8;
}

nav .container {
    padding-left: 15px !important;  /* match body and footer containers */
    padding-right: 15px !important;
}


div.sec-card div.card {
    width: 20em;
}
form.security input, form#login div.btn-group {
    width: 100%;
}
form.security div.btn-group > .btn {
    flex: 1 1 auto;
}
input.form-control, textarea.form-control {
    background-color: #eae8e8;
}

div.alert-fixed {
    position: fixed;
    margin: 0 auto;
    top: 5rem;
    left: 0;
    right: 0;
    width: 50%;
    z-index: 9999;
    box-shadow: .02em .1em .4em rgba(0, 0, 0, .2);
}


@font-face {
    font-family: 'FontAwesome';
    src:
      url('./fontawesome.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

